node_modules/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
ios/DerivedData/
ios/App/build/
*.xcuserstate
xcuserdata/
android/.gradle/
android/build/
android/app/build/
android/local.properties
build/
.demo-account.local
